<div class="row">
    <div class="col-lg-6 col-md-9 col-sm-12">
        <div class="card">
            <h5 class="card-header bg-primary">
                Add a new staff member
            </h5>
            <div class="card-body">
                <form action="/add" method="POST">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-control border border-0" for="lname">Last Name:</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" type="text" id="lname" name="lname" value={{{lname}}}>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-control border border-0" for="fname">First Name:</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" type="text" id="fname" name="fname" value={{{fname}}}>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-control border border-0" for="email">Email:</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" type="email" id="email" name="email" value={{{email}}}>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-control border border-0" for="ph">Phone number:</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" type="tel" id="ph" name="ph" value={{{ph}}}>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-control border border-0" for="address">Address:</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" type="text" id="address" name="address" value={{{address}}}>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-control border border-0" for="title">Job Title:</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" type="text" id="title" name="title" value={{{title}}}>
                        </div>
                    </div>

                    <div class="form-group float-right mt-4">
                        <input class="btn btn-primary" type="submit" value="Save">
                        <input class="btn btn-light" type="reset" value="Clear">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</div>