<h1>Staff Directory</h1>

<div class="row">
    <div class="col-md-12">
        <form action="/add" method="GET">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>
                                <span><a href="http://localhost:3000/">Last Name</a> </span>

                            </th>
                            <th>
                                <a href="http://localhost:3000/?sort=ascending">&#x1f53c</a>
                                <a href="http://localhost:3000/?sort=descending">&#x1f53d</a>
                            </th>
                            <th>First Name</th>
                            <th>Email</th>
                            <th>Phone #</th>
                            <th>Address</th>
                            <th>Job Title</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each employees}}
                        <tr>
                            <td>{{id}}</td>
                            <td colspan="2">{{lname}}</td>
                            <td>{{fname}}</td>
                            <td>{{email}}</td>
                            <td>{{ph}}</td>
                            <td>{{address}}</td>
                            <td>{{title}}</td>
                            <td><input class="checkbox-inline" type="checkbox" name="toRemove" value="{{id}}"></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary mt-1">Add new staff member</button>
                    <button type="submit" formaction="/remove" class="btn btn-primary mt-1">Remove selected staff members</button>
                </div>
            </div>
        </form>
    </div>
</div>